# 1. Load and Prepare the Dataset

In [7]:
!pip install pandas requests

Requirement already satisfied: pandas in c:\users\eyyal\miniconda3\miniconda\lib\site-packages (2.2.3)
Requirement already satisfied: requests in c:\users\eyyal\miniconda3\miniconda\lib\site-packages (2.32.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\eyyal\miniconda3\miniconda\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\eyyal\miniconda3\miniconda\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\eyyal\miniconda3\miniconda\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\eyyal\miniconda3\miniconda\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\eyyal\miniconda3\miniconda\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\eyyal\miniconda3\miniconda\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\eyyal\miniconda3\miniconda\lib\site-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\eyyal\miniconda3\miniconda\lib\site-packages (from requests) (2025.1.31)
Requirement already satisfied: six>=1.5 in c:\users\eyyal\miniconda3\miniconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [1]:
import pandas as pd

In [5]:
import os
import zipfile
import requests
import json

# Step 1: Download the data.zip
url = "https://github.com/czyssrs/ConvFinQA/raw/main/data.zip"
zip_path = "data.zip"

if not os.path.exists(zip_path):
    print("Downloading data.zip...")
    response = requests.get(url)
    with open(zip_path, "wb") as f:
        f.write(response.content)
    print("Download complete.")

# Step 2: Unzip the file
data_dir = "data"
if not os.path.exists(data_dir):
    print("Unzipping data.zip...")
    with zipfile.ZipFile(zip_path, 'r') as zip_ref:
        zip_ref.extractall(data_dir)
    print("Extraction complete.")

# Step 3: Load train.json
train_json_path = os.path.join(data_dir,"data", "train.json")
with open(train_json_path, "r", encoding="utf-8") as f:
    raw_data = json.load(f)

print(f"Loaded {len(raw_data)} examples.")

# Step 4: Convert into DataFrame with 'input' and 'output'
def format_all_qa_examples(example):
    table = example['table']
    table_str = "\n".join(["\t".join(row) for row in table])
    formatted = []

    for key, qa_entry in example.items():
        if key.startswith("qa"):
            question = qa_entry.get("question", "")
            program = qa_entry.get("program", "")
            formatted.append({
                "input": f"Table:\n{table_str}\nQuestion: {question}",
                "output": f"Program: {program}"
            })

    return formatted

# Collect all formatted examples
formatted_data = []
for example in raw_data:
    formatted_data.extend(format_all_qa_examples(example))

df = pd.DataFrame(formatted_data)

df.head(3)  # Preview first few rows

Loaded 3037 examples.

,input,output
0,Table:\n2008\tyear ended june 30 2009 2008\tye...,"Program: subtract(206588, 181001), divide(#0, ..."
1,Table:\n\tyear ended december 31 2008 ( unaudi...,"Program: subtract(9362.2, 9244.9), divide(#0, ..."
2,Table:\n\t2002\t2001\t2000\nnet sales\t$ 5742\...,"Program: subtract(5363, 7983), divide(#0, 7983)"

# 2. Load LLaMA-2 and Apply QLoRA

# 3. Tokenize and Prepare the Data

# 4. Training Arguments & Trainer Setup

# 5. Final Output